<style>
  .justify-text {
    text-align: justify;
  }
</style>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 g p-4 rounded shadow d-flex flex-column align-items-center">
      <img src="/assets/img/acercade.png" alt="Acerca de Mí" class="img-fluid d-block mx-auto mb-3"> 
      <div class="row">
        <div class="col-md-6">
          <p class="mb-3 font-weight-bold text-center justify-text">Hola, soy Luis Alberto Hernández Cano, un estudiante apasionado de 
            ingeniería en desarrollo y gestión de software con sede en Córdoba, Veracruz. Desde que era joven, siempre me ha 
            fascinado el mundo de la tecnología y la programación, lo que me llevó a seguir una carrera en constante evolución.</p>
        </div>
        <div class="col-md-6">
          <p class="mb-3 font-weight-bold text-center justify-text">Tengo una mentalidad orientada al trabajo en equipo y la colaboración. Me encanta aplicar mis habilidades y conocimientos 
            en el desarrollo de soluciones innovadoras que aborden los desafíos del mundo real. Mi pasión por la programación y mi deseo
            de marcar una diferencia positiva en la sociedad me impulsan a seguir creciendo y evolucionando como profesional de la 
            tecnología.</p>
        </div>
      </div>
    </div>
  </div>
</div>
