<style>
  .justify-text {
    text-align: justify;
  }
</style>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 g p-4 rounded shadow d-flex flex-column align-items-center">
      <img src="/assets/img/portafolio.png" alt="Acerca de Mí" class="img-fluid d-block mx-auto mb-3"> 
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title text-center">Landing Page</h5>
              <p class="card-text text-center">Landing Page para empresa de sistemas.</p>
              <a href="#" class="btn btn-primary d-block mx-auto">Ver más</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title text-center">App Movil</h5>
              <p class="card-text text-center">App Movil para Vikings Gym.</p>
              <a href="#" class="btn btn-primary d-block mx-auto">Ver más</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title text-center">Administrativo</h5>
              <p class="card-text text-center">Aplicacion web para Happy Wash.</p>
              <a href="#" class="btn btn-primary d-block mx-auto">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
