<nav class="navbar navbar-expand-lg navbar-light bg-black">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/cano.png" alt="Logo" height="80">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/sabermas">Conoceme</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/proyectorecientes">Portafolio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contacto">Contacto</a>
        </li>

        

       
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>


<router-outlet></router-outlet>


<router-outlet></router-outlet>
