<!-- trabajarconmigo.component.html -->
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 bg-white p-4 rounded shadow">
      <div class="text-center mb-4">
        <img src="assets/img/imagen-trabajo.jpg" alt="Imagen de Trabajo" class="img-fluid rounded mx-auto d-block" style="max-width: 300px;">
      </div>
      <h2 class="display-5 mb-3 text-center font-weight-bold text-uppercase">¿Por qué trabajar conmigo?</h2>
      <p class="mb-3 font-italic">Como desarrollador apasionado y comprometido, ofrezco una combinación única de habilidades técnicas y cualidades personales que me convierten en un valioso aliado para cualquier proyecto.</p>
      <p class="mb-3 font-italic">Mi sólida formación académica en el área de Desarrollo de Software Multiplataforma y mi constante deseo de aprender me permiten abordar los desafíos más complejos con creatividad y eficiencia. Me destaco por mi capacidad para encontrar soluciones innovadoras y optimizar procesos, lo que se traduce en productos de alta calidad y una excelente experiencia de usuario.</p>
      <p class="font-italic">Además de mis habilidades técnicas, soy un excelente comunicador y trabajo muy bien en equipo. Disfruto colaborando con otros profesionales, intercambiando ideas y compartiendo conocimientos para lograr resultados excepcionales. Mi enfoque proactivo y mi dedicación garantizan que cada proyecto se complete dentro del plazo establecido y cumpliendo con los más altos estándares.</p>
    </div>
  </div>
</div>