<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 g p-4 rounded shadow d-flex flex-column align-items-center">
      <img src="/assets/img/logocano.png" alt="Acerca de Mí" class="img-fluid d-block mx-auto mb-3"> 
      <p class="mb-3 font-weight-bold text-center">Me complace compartir con ustedes cómo mi pasión por el diseño creativo se une 
        perfectamente con la metodología ágil Scrum en nuestros proyectos.
        Como diseñador de front-end, me apasiona 
        explorar y experimentar con diseños únicos que no solo cautiven a los usuarios, sino que también agreguen un valor 
        distintivo a nuestros productos.</p>
    </div>
  </div>
</div>
